{% from 'simple/_search_bar.html' import terminal_search_bar %}
{# include_default_hiddens=False: sui risultati, language/time_range/safesearch
   vengono emessi come <select> dai filter template — inserirli anche come
   hidden duplicherebbe i name e searxng rigetta con 'Invalid settings'. #}
{% call terminal_search_bar(show_clear=True, max_width='max-w-3xl', include_default_hiddens=False) %}
    {% set display_tooltip = true %}
    {% include 'simple/categories.html' %}
    <div class="search_filters justify-start flex-wrap mt-2 hidden">
        {% include 'simple/filters/languages.html' %}
        {% include 'simple/filters/time_range.html' %}
        {% include 'simple/filters/safesearch.html' %}
    </div>
{% endcall %}
