@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@theme {
  --font-ibm-plex-sans: 'IBM Plex Sans', sans-serif;
}

.font-digital_dreamer {
    font-family: "digital_dreamer", sans-serif;
}

.font-ubuntu_r {
    font-family: "ubuntu_r", sans-serif;
}

@layer components {
    .tabs>input:checked~section {
        display: none;
    }
}
