@import "tailwindcss";

@font-face {
    font-family: 'digital_dreamer';
    src: url('./digital_dreamer.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.font-digital {
    font-family: 'digital_dreamer', sans-serif;
}